#hero {
  background: $back;
  color: $text;
  overflow: hidden;

  header {
    width: 100%;
    height: 95px;

    .container {
      max-width: 1400px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      position: relative;
      z-index: 1;

      .logo {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;

        img {
          height: 40px;
          cursor: pointer;
        }

        h1 {
          height: 40px;
          font-size: 30px;
          color: #f0d800;
          padding-top: 1px;
          cursor: pointer;
        }
      }

      .navbar {
        display: flex;
        align-items: center;

        .lang {
          border-radius: 10em;
          height: 40px;
          margin-left: 12px;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          width: 60px;
          height: 40px;
          background: $main;
          border-radius: 10em;

          color: #010101;
          font-size: 18px;
          font-weight: 600;

          transition: 0.3s;
          list-style: none;
          position: relative;

          span {
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            opacity: 1;
            width: 24px;
            text-transform: uppercase;
            overflow: hidden;
          }

          .en,
          .ru,
          .uz {
            opacity: 0;
            width: 0;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
          }

          &:hover {
            width: 120px;

            span {
              opacity: 0;
              width: 0;
            }

            .en,
            .ru,
            .uz {
              transition: 0.3s;
              opacity: 1;
              width: 24px;
            }
          }
        }

        .darkmode {
          all: unset;
          width: 40px;
          height: 40px;
          background: $main;
          border: none;
          border-radius: 10em;
          position: relative;
          cursor: pointer;
          transition: 0.3s;
          overflow: hidden;
          margin-left: 12px;

          &:hover {
            background: $click;
          }

          .dark {
            transform: translate(-50%, -50%);
            transition: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
            position: absolute;
            font-size: 24px;
            color: #010101;
            left: -50%;
            top: 50%;

            &,
            path {
              cursor: pointer;
            }
          }

          .light {
            transform: translate(-50%, -50%);
            transition: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
            position: absolute;
            font-size: 24px;
            color: #010101;
            left: 50%;
            top: 50%;

            &,
            path {
              cursor: pointer;
            }
          }
        }

        .login {
          color: $text;
          padding: 0 20px;
          height: 40px;
          font-size: 18px;
          border-radius: 10em;
          margin-left: 10px;
          font-weight: 500;

          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s ease;

          &:hover {
            color: $main;
          }
        }

        .register {
          color: #010101;
          padding: 0 30px;
          height: 40px;
          font-size: 18px;
          background: $main;
          border-radius: 10em;
          font-weight: 600;

          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s ease;

          &:hover {
            background: $click;
          }
        }
      }

      .menu {
        width: 42px;
        height: 42px;
        display: none;
        position: relative;

        &.active {
          .toggle {
            span:nth-child(1) {
              width: 25px;
              height: 2.5px;
              transform: translateY(0) rotate(-45deg);
              transition-delay: 0.125s;
            }
            span:nth-child(2) {
              width: 25px;
              height: 2.5px;
              transform: translateY(0) rotate(-315deg);
              transition-delay: 0.25s;
            }
            span:nth-child(3) {
              transform: translateX(-60px);
            }
          }

          .nav-mini {
            transform: scale(1) translateX(0px);
            opacity: 1;
          }
        }

        .toggle {
          width: 42px;
          height: 42px;
          background: $toggle;
          box-shadow: 0 5px 10px #00000012;
          border-radius: 0.5em;
          position: relative;
          overflow: hidden;
          display: none;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            position: absolute;
            width: 25px;
            height: 3px;
            background: $main;
            border-radius: 4px;
            transition: 0.4s;
            cursor: pointer;

            &:nth-child(1) {
              transform: translateY(-8.5px);
              width: 20px;
              right: 8.5px;
            }
            &:nth-child(2) {
              transform: translateY(8.5px);
              width: 15px;
              right: 8.5px;
            }
          }
        }

        .nav-mini {
          position: absolute;
          transform: scale(.4) translateX(400px);
          opacity: 0;
          right: 0;
          top: 100px;
          width: 250px;
          background: $toggle;
          box-shadow: 0 5px 10px #00000012;
          border-radius: 0.5em;
          backdrop-filter: blur(7px);
          transition: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
          transition-delay: 0.125s;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding: 20px;

          .langDarkMode {
            display: flex;
            align-items: center;
            gap: 14px;
          }

          .lang {
            border-radius: 10em;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            width: 150px;
            height: 42px;
            background: $main;
            border-radius: 10em;

            color: #010101;
            font-size: 18px;
            font-weight: 600;

            transition: 0.3s;
            list-style: none;
            position: relative;

            &:hover {
              background: $click;
            }

            .en,
            .ru,
            .uz {
              cursor: pointer;
              position: relative;
              z-index: 1;
              overflow: hidden;
              width: 24px;
            }
          }

          .darkmode {
            width: 42px;
            height: 42px;
            background: $main;
            border: none;
            border-radius: 10em;
            position: relative;
            cursor: pointer;
            transition: 0.3s;
            overflow: hidden;

            &:hover {
              background: $click;
            }

            .dark {
              transform: translate(-50%, -50%);
              position: absolute;
              font-size: 24px;
              color: #010101;
              left: -50%;
              top: 50%;
              transition: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);

              &,
              path {
                cursor: pointer;
              }
            }

            .light {
              transform: translate(-50%, -50%);
              position: absolute;
              font-size: 24px;
              color: #010101;
              left: 50%;
              top: 50%;
              transition: 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);

              &,
              path {
                cursor: pointer;
              }
            }
          }

          .login {
            color: #010101;
            padding: 0 30px;
            width: 100%;
            height: 42px;
            font-size: 18px;
            background: $main;
            border-radius: 10em;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease;

            &:hover {
              background: $click;
            }
          }

          .register {
            color: #010101;
            padding: 0 30px;
            width: 100%;
            height: 42px;
            font-size: 18px;
            background: $main;
            border-radius: 10em;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease;

            &:hover {
              background: $click;
            }
          }
        }
      }
    }
  }

  main {
    width: 100%;

    .section1 .container {
      max-width: 1400px;
      margin: 0 auto;
      position: relative;
      z-index: 0;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 120px;

        h1 {
          font-size: 80px;
          line-height: 100px;

          span:nth-child(1) {
            font-weight: 400;
          }

          span:nth-child(2) {
            font-weight: 600;
          }
        }

        h3 {
          font-size: 14px;
          line-height: 28px;
          font-weight: 400;
          text-align: end;
          display: flex;
          flex-direction: column;
        }
      }

      .ellipse1 {
        opacity: 0.55;
        background: #b97fc8c6;
        border-radius: 50%;
        filter: blur(250px);
        position: absolute;
        z-index: -1;
        left: -190px;
        top: 100px;
      }

      .line {
        margin: 40px auto;
        width: 100%;
        height: 1px;
        background: $text;
        border-radius: 10em;
      }

      .photo {
        width: 100%;

        img {
          width: 100%;
          border-radius: 0.4em;
        }
      }

      .brands {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 88%;
        margin: 70px auto 0;

        img {
          opacity: 30%;
        }
      }
    }

    .trending {
      width: 100%;
      height: 130px;
      overflow: hidden;
      position: relative;
      border-bottom: 2px solid;
      margin: 180px auto 120px;

      .trending-inner {
        display: block;
        width: 200%;
        height: 100%;
        position: absolute;
        animation: marquee 30s linear infinite;
        display: flex;
        align-items: center;

        span {
          float: left;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .trending-line {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 33px;
            font-weight: 400;
            line-height: 30px;
          }

          .trending-outline {
            display: flex;
            align-items: center;
            gap: 10px;

            color: $main;
            font-size: 33px;
            font-weight: 400;
            line-height: 30px;

            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0.6px;
          }
        }

        @keyframes marquee {
          0% {
            left: 0;
          }
          100% {
            left: -100%;
          }
        }
      }
    }

    .section2 .container {
      max-width: 1400px;
      margin: 0 auto 120px;
      position: relative;
      z-index: 0;

      display: flex;
      justify-content: space-between;
      position: relative;

      .title {
        width: 51%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
          font-size: 60px;
          font-weight: 500;
          line-height: 70px;

          span {
            color: $main;
          }
        }

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          opacity: 60%;
          width: 80%;
        }
      }

      .people {
        width: 48%;
        display: flex;
        flex-direction: column;
        gap: 55px;
        text-align: right;

        .register-people {
          display: flex;
          flex-direction: column;
          gap: 25px;

          h1 {
            color: $main;
            font-size: 80px;
            font-weight: 700;
            line-height: 80px;
          }

          p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
          }
        }

        .help-people {
          display: flex;
          flex-direction: column;
          gap: 25px;

          h1 {
            font-size: 80px;
            font-weight: 600;
            line-height: 80px;
          }

          p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }

      .ellipse2 {
        width: 500px;
        height: 500px;
        background: #ccf30099;
        opacity: 0.55;
        filter: blur(250px);
        position: absolute;
        z-index: -1;
        top: 100px;
        right: -120px;
        border-radius: 50%;
      }
    }

    .artists {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      position: relative;
      margin-bottom: 200px;

      div {
        display: flex;
        gap: 40px;

        img {
          border-radius: 0.3em;
          border: 1px solid #222;
          overflow: hidden;
          box-shadow: 0 0 10px $back;
        }

        .back {
          position: relative;
          z-index: 0;
        }
        .ford {
          position: relative;
          z-index: 2;
        }
      }

      a {
        padding: 24px 50px;
        position: absolute;
        translate: -80%;
        z-index: 1;
        bottom: -18px;
        left: 50%;
        background: $main;
        border-radius: 100px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        box-shadow: 0 0 10px $back;

        span,
        svg {
          color: #010101;
          font-size: 21px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }

    .section3 .container {
      max-width: 1400px;
      margin: 0 auto 220px;
      position: relative;
      z-index: 0;

      h1 {
        color: $main;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 100px;
      }

      div {
        width: 85%;
        position: relative;
        margin-bottom: 40px;

        span {
          font-size: 80px;
          font-weight: 400;
          line-height: 95px;
          margin-bottom: 40px;
        }

        img {
          position: absolute;
          z-index: -1;

          &.star-img {
            translate: 0 -55%;
            top: 50%;
            right: -100px;
          }

          &.music-img {
            bottom: -120px;
            right: 120px;
          }
        }
      }

      a {
        padding: 15px 40px;

        border: 1px solid $main;
        background: $main;
        border-radius: 100px;
        cursor: pointer;
        text-align: center;

        color: #010101;
        font-size: 14px;
        font-weight: 600;
        line-height: 50px;
      }
    }

    .tape {
      width: 100%;
      height: 99px;
      background: $tape;
      transform: rotate(-1.703deg);
      overflow: hidden;
      position: relative;
      border-top: 2px solid #010101;
      border-bottom: 2px solid #010101;

      .tape-inner {
        display: block;
        width: 200%;
        height: 100%;
        position: absolute;
        animation: marquee 30s linear infinite;
        display: flex;
        align-items: center;

        span {
          float: left;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          div {
            display: flex;
            align-items: center;
            gap: 10px;

            color: #010101;
            font-size: 34px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
          }
        }

        @keyframes marquee {
          0% {
            left: 0;
          }
          100% {
            left: -100%;
          }
        }
      }
    }

    .section4 .container {
      max-width: 1400px;
      margin: 200px auto 120px;
      position: relative;
      z-index: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .verizon {
        width: 65%;
        font-size: 24px;
        font-weight: 400;
        line-height: 45px;
        position: relative;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 35px;

        .verizonLogo {
          width: 190px;
        }

        .line {
          position: absolute;
          bottom: -70px;
          left: -420px;
        }

        .outline {
          position: absolute;
          top: -50px;
          right: -400px;
        }
      }

      .install {
        width: 90%;
        height: 500px;
        background: $main;
        border-radius: 40px;
        margin-top: 120px;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .logo {
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            height: 48px;
            cursor: pointer;
          }

          h1 {
            line-height: 48px;
            font-size: 36px;
            padding-top: 1px;
            color: #010101;
            cursor: pointer;
            font-weight: bold;
          }
        }

        h2 {
          color: #010101;
          font-size: 80px;
          font-weight: 600;
          line-height: 95px;
        }

        p {
          color: #525252;
          font-size: 24px;
          font-weight: 400;
          line-height: 50px;
        }

        .download {
          display: flex;
          align-items: center;
          gap: 32px;

          .ios {
            padding-top: 4px;
            cursor: pointer;
          }
          .android {
            padding-bottom: 2px;
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    width: 100%;

    .container {
      max-width: 1400px;
      margin: 0 auto 60px;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 24px;
      z-index: 1;

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 24px;

        h1 {
          font-size: 60px;
          font-weight: 600;
          line-height: 80px;
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          text-align: end;
        }
      }

      .keep {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        z-index: 1;

        .social {
          font-size: 16px;
          font-weight: 400;
          line-height: 32px;
          position: static;
          z-index: 1;
          display: flex;
          align-items: center;
          gap: 10px;

          a {
            color: $text;
            transition: 0.2s;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 2px;

            span,
            svg,
            svg > path {
              cursor: pointer;
            }

            span {
              padding-top: 2px;
            }

            &:hover {
              color: $main;
            }
          }
        }

        .copyright {
          display: flex;
          align-items: center;
          line-height: 34px;
          gap: 10px;

          a {
            color: $text;
            transition: 0.2s;
            position: relative;
            display: flex;
            align-items: center;
            gap: 2px;

            span,
            svg,
            svg > path {
              cursor: pointer;
            }

            &:hover {
              color: $main;
            }
          }
        }
      }

      .ellipse3 {
        width: 500px;
        height: 500px;
        background: #00f3aa99;
        opacity: 0.55;
        filter: blur(250px);
        position: absolute;
        z-index: -1;
        bottom: -180px;
        left: -200px;
        border-radius: 50%;
      }
    }
  }
}

@import "./media";
