.hero {
  background: $back;
  color: $text;

  .container {
    max-width: 1360px;
    padding: 0 16px;
    margin: 0 auto;
    height: 100%;
  }

  header {
    width: 100%;
    padding: 16px 0;
    background: #080b0faa;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid #080b0f1a;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    .container {
      height: 40px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .ellipse {
        opacity: 0.4;
        background: $main;
        border-radius: 50%;
        filter: blur(40px);
        transform: translateX(3vw);
        position: absolute;
        z-index: 0;
        top: -80px;
      }

      .logo {
        all: unset;
        display: flex;
        align-items: center;
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.2s ease;

        &:hover {
          transform: translateY(-2px);
        }

        img {
          height: 40px;
          cursor: pointer;
        }

        h1 {
          font-size: 30px;
          color: $hero-click;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .navbar {
        display: flex;
        align-items: center;
        gap: 40px;

        ul {
          display: flex;
          gap: 30px;

          a {
            cursor: pointer;
            position: relative;

            &::before {
              content: "";
              width: 0%;
              height: 2px;
              background: $main;
              position: absolute;
              bottom: -2px;
              left: 0;
              transition: 0.3s ease;
              border-radius: 0 1em 1em 0;
            }

            &:hover::before {
              width: 100%;
            }
          }
        }

        .download {
          position: relative;

          &:hover {
            img {
              visibility: visible;
              opacity: 1;
              transform: translate(-50%, 0);
            }
          }

          a {
            display: inline-block;
            height: 38px;
            padding: 0 20px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 10em;

            background: transparent;
            border: 1px solid $text;
            color: $text;

            text-align: center;
            line-height: 38px;
            transition: 0.2s ease;
            cursor: wait;

            &:hover {
              background: $hero-click;
              border: 1px solid $hero-click;
            }
          }

          img {
            transition: .4s;
            transform: translate(-50%, -20px);
            visibility: hidden;
            position: absolute;
            bottom: -40px;
            left: 50%;
            opacity: 0;

            &:hover{
              transform: translate(-50%, -20px);
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }

      .menu {
        width: 42px;
        height: 42px;
        position: relative;

        &.active {
          .toggle {
            span:nth-child(1) {
              width: 25px;
              height: 2.5px;
              transform: translateY(0) rotate(-45deg);
              transition-delay: 0.125s;
            }
            span:nth-child(2) {
              width: 25px;
              height: 2.5px;
              transform: translateY(0) rotate(-315deg);
              transition-delay: 0.25s;
            }
            span:nth-child(3) {
              transform: translateX(-60px);
            }
          }

          .nav-mini {
            transform: scale(1) translateX(0px);
            opacity: 1;
          }
        }

        .toggle {
          width: 42px;
          height: 42px;
          background: transparent;
          box-shadow: 0 5px 10px #00000012;
          border-radius: 0.5em;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            position: absolute;
            width: 25px;
            height: 3px;
            background: $text;
            border-radius: 4px;
            transition: 0.4s;
            cursor: pointer;

            &:nth-child(1) {
              transform: translateY(-8.5px);
              width: 20px;
              right: 8.5px;
            }
            &:nth-child(2) {
              transform: translateY(8.5px);
              width: 15px;
              right: 8.5px;
            }
          }
        }
      }
    }
  }

  main {
    // padding-bottom: 300px;

    hr {
      all: unset;
      display: inline-block;
      height: 3px;
      width: 100%;
      background: #0a0d12;
      margin: 120px 0;
    }

    #heros {
      width: 100%;
      padding-top: 142px;

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .title {
          display: flex;
          flex-direction: column;
          padding-bottom: 70px;
          gap: 30px;

          .headline {
            width: 650px;

            h1 {
              line-height: 90px;
              font-size: 80px;
              font-family: BelfastGrotesk300;
              padding-bottom: 10px;

              background: linear-gradient(to right, $text, $main);
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .subtitle {
            margin-bottom: 15px;
            width: 500px;

            p {
              line-height: 24px;
              font-size: 16px;
              font-family: BelfastGrotesk500;
              opacity: 50%;
            }
          }

          .login {
            display: flex;
            gap: 30px;

            .signup {
              background: $main;
              border-color: $main;
            }

            a {
              // width: 145px;
              padding: 0 35px;
              height: 45px;
              font-size: 16px;
              font-weight: 500;
              border-radius: 10em;
              display: inline-block;

              background: transparent;
              border: 1px solid $text;
              color: $text;

              text-align: center;
              line-height: 45px;
              transition: 0.2s ease;

              &:hover {
                background: $hero-click;
                border: 1px solid $hero-click;
              }
            }
          }
        }
      }

      .collaboration {
        height: 50px;

        .wrapper {
          width: 100%;
          height: 80px;
          display: flex;
          transform: translateY(-30px);

          .line {
            width: 3px;
            height: 100%;
            background: #0a0d12;
          }

          .content-brand {
            width: calc(100% - 2px);
            height: 100%;
            display: flex;
            padding: 12px 28px;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            .title-brand {
              padding-left: 10px;
            }

            .brands {
              display: flex;
              gap: 30px;
            }
          }
        }
      }
    }
  }
}

@import "./media";
