@media (max-width: 779px) {
  main {
    #heros {
      .content {
        flex-direction: column;
        margin-bottom: 50px !important;

        .title {
          .headline {
            width: 500px !important;
          }

          .login {
            flex-direction: column;

            a {
              height: 64px !important;
              line-height: 64px !important;
              font-size: 20px !important;
            }
          }
        }

        .webapp {
          width: 500px !important;
          height: 660px !important;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            transform: translateX(-24px) translateY(0) scale(1.25) !important;
          }
        }
      }

      .collaboration {
        height: 80px !important;
        margin-bottom: 70px;

        .wrapper {
          transform: translate(0) !important;

          .content-brand {
            align-items: center !important;

            .title-brand {
              padding: 0 !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  main {
    #heros {
      .content {
        flex-direction: column;

        .title {
          width: 100%;

          .headline {
            width: 440px !important;

            h1 {
              font-size: 72px !important;
              line-height: 80px !important;
            }
          }

          .subtitle {
            width: 440px !important;
            letter-spacing: 1px;
            text-wrap: balance;
          }

          .login a {
            height: 56px !important;
            line-height: 56px !important;
            font-size: 20px !important;
          }
        }

        .webapp img {
          transform: translateX(-24px) translateY(0) scale(1.2) !important;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  main {
    overflow: hidden;
    #heros {
      .content {
        flex-direction: column;

        .title {
          width: 100%;

          .headline {
            width: 360px !important;

            h1 {
              font-size: 60px !important;
              line-height: 70px !important;
            }
          }

          .subtitle {
            width: 100% !important;
            letter-spacing: 0.7px;
            text-wrap: balance;

            p {
              font-size: 14px !important;
            }
          }

          .login a {
            height: 56px !important;
            line-height: 56px !important;
            font-size: 20px !important;
          }
        }

        .webapp img {
          transform: translateX(-24px) translateY(0) scale(1.1) !important;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  main {
    overflow: hidden;
    #heros {
      padding-top: 130px !important;

      .content {
        flex-direction: column;

        .title {
          width: 100%;
          padding-bottom: 50px !important;

          .headline {
            width: 350px !important;

            h1 {
              font-size: 56px !important;
              line-height: 64px !important;
            }
          }

          .subtitle {
            width: 350px !important;
            letter-spacing: 0.7px;
            text-wrap: balance;

            p {
              font-size: 13px !important;
            }
          }

          .login a {
            height: 48px !important;
            line-height: 48px !important;
            font-size: 18px !important;
          }
        }

        .webapp img {
          transform: translateX(-24px) translateY(0) scale(1) !important;
        }
      }
    }
  }
}
