#about {
  width: 100%;

  .title {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 780px) {
      flex-direction: column;
      gap: 20px;
    }

    .headtitle {
      max-width: 1030px;
      margin-right: 36px;

      @media (max-width: 780px) {
        margin-right: 0;
      }

      h2 {
        line-height: 70px;
        font-size: 54px;
        font-family: BelfastGrotesk600;
        padding-bottom: 12px;

        @media (max-width: 780px) {
          line-height: 32px;
          font-size: 32px;
          margin-right: 0;
          padding-bottom: 0;
        }
      }
    }

    .subtitle {
      p {
        font-size: 18px;
        font-family: BelfastGrotesk500;
        opacity: 50%;

        @media (max-width: 780px) {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }

  .image {
    width: 100%;
    height: 364px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 80px;

    @media (max-width: 540px) {
      height: auto;
    }

    img {
      width: 100%;
      padding-bottom: 100px;

      @media (max-width: 540px) {
        padding-bottom: 0;
      }
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 780px) {
      gap: 20px;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 780px) {
        flex-direction: column;
      }

      h3 {
        line-height: 64px;
        font-size: 48px;
        font-family: BelfastGrotesk600;
        padding-bottom: 12px;

        @media (max-width: 780px) {
          line-height: 48px;
          font-size: 32px;
        }
      }

      p {
        font-size: 20px;
        font-family: BelfastGrotesk500;
        opacity: 50%;
        max-width: 450px;
        text-align: end;

        @media (max-width: 780px) {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    .round {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2%;
      row-gap: 25px;

      .card {
        width: 49%;
        border: 1px solid #0a0d12;
        box-shadow: 0 0 10px #0a0d12a8;
        background: #0a0d12;
        border-radius: 16px;
        padding: 32px 44px 44px 44px;

        @media (max-width: 780px) {
          width: 100%;
          padding: 18px 28px 28px 28px;
        }

        h3 {
          font-size: 28px;
          font-family: BelfastGrotesk600;
          margin-bottom: 16px;

          @media (max-width: 780px) {
            text-align: center;
            margin-bottom: 8px;
          }
        }

        p {
          line-height: 32px;
          font-size: 18px;
          font-family: BelfastGrotesk500;
          opacity: 50%;
          max-width: 500px;

          @media (max-width: 780px) {
            line-height: 24px;
            font-size: 16px;
            text-align: center;
            max-width: none;
          }
        }
      }
    }
  }
}
