#started {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  position: relative;
  z-index: 10;

  @media (max-width: 780px) {
    height: 150px;
  }


  .wrapper {
    border: 2px solid #0c1016;
    background: #080b0f;
    border-radius: 32px;
    padding: 48px 64px 0 64px;

    gap: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    @media (max-width: 780px) {
      padding: 20px 24px 0 24px;
      gap: 24px;
    }

    .shadow {
      position: absolute;
      background: #080b25;
      width: 100px;
      height: 100px;
      filter: blur(100px);

      &:nth-child(1) {
        top: 40px;
        left: 40px;
      }

      &:nth-child(2) {
        top: 600px;
        right: 20px;
      }
    }

    .title {
      gap: 40px;
      margin-bottom: 20px;

      .headtitle {
        h2 {
          line-height: 72px;
          font-size: 48px;
          font-family: BelfastGrotesk600;
          text-align: center;
          margin-bottom: 12px;

          @media (max-width: 780px) {
            line-height: 48px;
            font-size: 32px;
          }
        }
      }

      .subtitle {
        display: flex;
        justify-content: center;

        p {
          font-size: 19px;
          font-family: BelfastGrotesk500;
          opacity: 50%;
          text-align: center;
          max-width: 800px;

          @media (max-width: 780px) {
            font-size: 15px;
          }
        }
      }
    }

    .downloads {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      @media (max-width: 780px) {
        flex-direction: column;
        gap: 20px;
      }

      img {
        cursor: pointer;
        border-radius: 12px;

        @media (max-width: 780px) {
          padding: 0 20px;
        }
      }
    }

    .image {
      width: 100%;
      height: 520px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px 32px 0 0;
      overflow: hidden;
      position: relative;
      z-index: 10;

      @media (max-width: 780px) {
        height: auto;
      }

      img.background {
        width: 100%;
      }

      img.play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 75%;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
