@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #582ddd;
  --main-click-color: #6940ee;
  --text-color: #f3f3f3;
  --medium-color: #f3f3f3a3;
  --slow-color: #f3f3f33f;
  --pause-color: #f3f3f3;

  --background-color: #080b0f;
  --medium-back-color: #080b0fa3;
  --medium-slow-color: #080b0fa3;
  --slow-back-color: #080b0fbb;
  --background-card: #0a0d12;
  --viewer-color: #0c1016;
  --analog-color: #0e1520;
  --analog-slow-color: #0e15209f;
  --hover-color: #141e30;

  --login-bor: #333333;
  --login-inp: #171717;

  --admin-tabhead: #121822;
  --admin-inpbor: #282729;
  --admin-butowe: #ffffff;
  --admin-line: #3b393d;
  --admin-shadbar: #00000026;

  --svg-mbc: #090d12;
  --svg-mc: #9fa0a2;
  --svg-sc: #45464C;
}

[data-theme="light"]:root {
  --main-color: #582ddd;
  --main-click-color: #6940ee;
  --text-color: #080b0f;
  --medium-color: #080b0fa3;
  --slow-color: #080b0f3f;
  --pause-color: #adadad;

  --background-color: #ffffff;
  --medium-back-color: #ffffffa3;
  --medium-slow-color: #121820a3;
  --slow-back-color: #ffffff50;
  --background-card: #f9f9f9;
  --viewer-color: #f3f3f3;
  --analog-color: #e5e4e7;
  --analog-slow-color: #1620309f;
  --hover-color: #dddae2;

  --login-bor: #d0d5dd;
  --login-inp: #f9f9f9;

  --admin-tabhead: #f9f8f9;
  --admin-inpbor: #dde2e8;
  --admin-butowe: #6940ee;
  --admin-line: #b5b5b5;
  --admin-shadbar: #ffffffb3;

  --svg-mbc: #fbfbfb;
  --svg-mc: #5f6165;
  --svg-sc: #BFC0C2;
}

// ===== FONT FACE ===== \\
@font-face {
  font-family: Santello;
  src: url("./fonts/Santello/Santello.ttf");
}
@font-face {
  font-family: BelfastGrotesk300;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk300.ttf");
}
@font-face {
  font-family: BelfastGrotesk400;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk400.ttf");
}
@font-face {
  font-family: BelfastGrotesk500;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk500.ttf");
}
@font-face {
  font-family: BelfastGrotesk600;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk600.ttf");
}
@font-face {
  font-family: BelfastGrotesk700;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk700.ttf");
}
@font-face {
  font-family: BelfastGrotesk800;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk800.ttf");
}
@font-face {
  font-family: BelfastGrotesk900;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk900.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

a,
input,
button,
textarea {
  outline: none;
  cursor: pointer;
  font-family: Santello;
  text-decoration: none;
}

::selection {
  background: rgba($color: #6940ee, $alpha: 0.2);
}
::-webkit-scrollbar {
  all: unset;
  width: 0;
  height: 0;
}

body {
  font-family: Santello, sans-serif;
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#__next {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
}
