#admin {
  display: flex;
  width: 100%;
  min-height: 100svh;
  display: flex;
  color: $text;
  overflow: hidden;

  .sidebar {
    width: 240px;
    height: 100svh;
    background: $view;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 1;
    position: fixed;
    transition: 0.12s;

    &.active {
      width: 55px !important;
      padding: 5px !important;

      .wrapper {
        .logo {
          margin-bottom: 15px;

          img {
            width: 100%;
            padding: 13px 6px 0 6px !important;
          }
        }

        .categories a {
          justify-content: center;
          padding: 0 !important;

          &:hover {
            span {
              visibility: visible;
              transform: translate(0, -50%);
              opacity: 1;
            }
          }

          span {
            transform: translate(-40px, -50%);
            position: absolute;
            top: 50%;
            left: 55px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
            background: $main;
            padding: 0 17px;
            color: #ffffff;
            border-radius: 0.5em;
          }

          svg {
            font-size: 19px;
          }
        }
      }

      .out {
        .lang {
          .en,
          .ru,
          .uz {
            display: none;
          }

          .miniLang {
            display: block;
          }
        }

        .logout {
          padding: 0 !important;
          display: flex;
          align-items: center;
          justify-content: center;

          .data {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100% !important;

            .title {
              display: none;
            }
          }
          .back {
            display: none;
          }
        }
      }
    }

    .wrapper {
      width: 100%;
      height: 100%;

      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        cursor: pointer;

        img {
          width: 40%;
          padding: 15px;
          cursor: pointer;
        }
      }

      .categories {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;

        a {
          color: #000;
          height: 44px;
          border-radius: 0.5em;
          line-height: 44px;
          padding-left: 12px;
          color: $bate;
          position: relative;

          display: flex;
          align-items: center;
          gap: 7px;

          &.active,
          &:hover {
            background: $main;
            color: #ffffff;
            transition: 0.12s;
          }

          &.active {
            opacity: 100% !important;
          }

          &:hover {
            opacity: 90%;
          }

          svg {
            font-size: 17px;

            &,
            & > path {
              cursor: pointer;
            }
          }

          span {
            cursor: pointer;
            font-size: 16px;
            padding-top: 2px;
          }
        }
      }
    }

    .out {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: inset #6363631a 0px 0px 4px;
        border-radius: 0.5em;
        padding: 5px;
        gap: 5px;

        width: 100%;
        height: 44px;

        background: $back;
        color: #010101;
        font-size: 17px;
        font-weight: 600;
        list-style: none;

        .en,
        .ru,
        .uz {
          width: 33%;
          height: 100%;
          cursor: pointer;
          text-align: center;
          border-radius: 0.35em;
          line-height: 34px;
        }

        .miniLang {
          width: 100%;
          height: 100%;
          cursor: pointer;
          text-align: center;
          border-radius: 0.32em;
          line-height: 34px;
          display: none;
          color: $main;
          background-color: $view;
        }
      }

      .logout {
        width: 100%;
        height: 44px;
        background: $main;
        border-radius: 0.5em;
        cursor: pointer;
        padding: 0 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .data {
          width: calc(100% - 20px);
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          img {
            width: 32px;
            border-radius: 50%;
            cursor: pointer;
          }

          .title {
            width: calc(100% - 37px);
            display: flex;
            flex-direction: column;
            cursor: pointer;

            h3 {
              font-size: 14px;
              font-weight: 500;
              color: #fff;
              cursor: pointer;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            h4 {
              font-size: 12px;
              font-weight: 400;
              color: #fff;
              cursor: pointer;
              line-height: 14px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        .back {
          display: flex;
          align-items: center;

          svg {
            rotate: 180deg;
            font-size: 17px;
            color: #fff;

            &,
            & > path {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  section {
    width: 100%;
    background: $back;
    padding: 30px 30px 30px 270px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.12s;

    &.active {
      padding: 30px 30px 30px 90px !important;
    }

    .link {
      cursor: pointer;
      color: $bate !important;
      outline: none;

      &:focus {
        opacity: 70%;
      }
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      height: 40px;

      .category {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          line-height: 40px;
          font-size: 28px;
          color: $admin-butowe;
        }
        h2 {
          line-height: 40px;
          font-size: 28px;
          color: $main;
        }
        h3 {
          line-height: 40px;
          font-size: 20px;
          color: $bate;
        }
      }

      .others {
        display: flex;
        align-items: center;
        gap: 20px;

        .search {
          position: relative;

          input {
            padding: 0 36px 0 20px;
            width: 240px;
            height: 40px;
            border: none;
            border-radius: 2em;
            background: $view;
            box-shadow: -0.5px -0.5px 0px $admin-shadbar,
              2px 2px 5px -1px #00000026;
            color: $text;
            font-size: 15px;

            &::placeholder {
              color: $bate;
            }
          }

          svg {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 14px;
            color: $bate;
            font-size: 17px;

            &,
            & > path {
              cursor: pointer;
            }
          }
        }

        .addUser button {
          background: $main;
          border-radius: 2em;
          border: none;
          box-shadow: -0.5px -0.5px 0px $admin-shadbar,
            2px 2px 5px -1px #00000026;
          color: #ffffff;
          padding: 0 25px;
          height: 39px;
          font-size: 15px;
        }

        .addUserProgress {
          display: flex;
          align-items: center;
          gap: 15px;

          .profile {
            display: flex;
            align-items: center;
            gap: 7px;
            color: $admin-line;

            .number {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              color: #fff;
              background: $admin-line;
              text-align: center;
              line-height: 25px;
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-weight: 600;
              font-size: 22px;
              padding-top: 2px;
            }
          }

          .line {
            width: 120px;
            height: 3px;
            background: $admin-line;
            border-radius: 10em;
          }

          .confirmation {
            display: flex;
            align-items: center;
            gap: 7px;
            color: $admin-line;

            .number {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              color: #fff;
              background: $admin-line;
              text-align: center;
              line-height: 25px;
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-weight: 600;
              font-size: 22px;
              padding-top: 2px;
            }
          }
        }
      }
    }
  }

  .part {
    box-shadow: -0.5px -0.5px 0px $admin-shadbar, 1px 1px 5px -1px #00000026;
    border-radius: 0.5em;
    background: $view;
  }

  .dashboard {
    height: 100svh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .dashboard .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .top {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 150px;
    }

    .mid {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 500px;
    }

    .down {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 250px;
    }

    .row {
      display: flex;
      gap: 25px;

      & > .part {
        width: 50%;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & > .part {
        height: 50%;
      }
    }

    .first-piece {
      width: 70%;
    }

    .last-piece {
      width: 30%;
    }
  }

  .users {
    height: 100svh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .users .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .top {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 130px;

      .userPart {
        padding: 20px;

        &:nth-child(1) {
          width: 32%;
        }

        &:nth-child(2) {
          width: 28%;
        }

        &:nth-child(3) {
          width: 20%;
        }

        &:nth-child(4) {
          width: 20%;
        }
      }

      .ageStatistics,
      .countryStatistics,
      .genderStatistics {
        justify-content: space-around;
      }

      .userStatistics,
      .ageStatistics,
      .countryStatistics,
      .genderStatistics {
        display: flex;
        align-items: center;
        overflow: hidden;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 7px;
          width: calc(100% - 70px);

          h3 {
            font-size: 22px;
            letter-spacing: 0.5px;
            text-shadow: -0.5px -0.5px 0px $admin-shadbar, 0px 0px 2px #00000026;
            -webkit-text-fill-color: $text;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          p {
            font-size: 16px;
            opacity: 0.6;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .genderBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          width: 100px;

          p {
            display: flex;
            align-items: center;
            gap: 2px;
            opacity: 90%;
            letter-spacing: 1px;
            font-weight: 600;

            svg {
              font-size: 18px;
            }
          }
        }

        .skill {
          width: 70px;
          height: 70px;
          position: relative;

          &.big {
            width: 80px;
            height: 80px;

            .outer {
              width: 80px;
              height: 80px;

              .inner {
                width: 60px;
                height: 60px;
              }
            }

            circle {
              stroke-dasharray: 220;
              stroke-dashoffset: 220;
            }
          }

          .outer {
            width: 70px;
            height: 70px;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 4px 4px 5px -1px #00000026,
              -2px -2px 4px -1px $admin-shadbar;

            .inner {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              box-shadow: inset 3px 3px 4px -1px #00000033,
                inset -3px -3px 4px -1px $admin-shadbar,
                -0.5px -0.5px 0px $admin-shadbar, 0.5px 0.5px 0px #00000026,
                0px 6px 6px -8px #0000000d;
              display: flex;
              align-items: center;
              justify-content: center;

              .number {
                font-weight: 600;
                opacity: 90%;
              }
            }
          }

          svg {
            transform: rotate(-90deg);
            position: absolute;
            top: 0;
            left: 0;
          }

          circle {
            transition: 1.2s;
            fill: none;
            stroke: $main;
            stroke-width: 10px;
            stroke-dasharray: 188;
            stroke-dashoffset: 188;
          }
        }
      }
    }

    .table {
      border-radius: 0.5em;
      overflow: hidden;
    }

    .table table {
      width: 100% !important;
      font-size: 15px;
      text-align: center;
      border-collapse: collapse;
      box-shadow: -0.5px -0.5px 0px $admin-shadbar, 1px 1px 5px -1px #00000026;

      thead tr {
        background: $admin-tabhead;
        font-size: 18px;

        th:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 4px;

          &,
          svg,
          svg > path {
            cursor: pointer;
          }

          svg {
            transition: 0.2s;
            margin-top: 2px;
            font-size: 0;
            visibility: hidden;
          }

          &:hover {
            svg {
              visibility: visible;
              font-size: 18px;
              color: $main;
            }
          }
        }
        th {
          padding: 18px 100px 18px 50px;
          font-weight: 500;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      tbody tr {
        background: $view;

        td {
          padding: 12px 95px 12px 45px;
        }

        td:nth-child(1) {
          display: flex;
          align-items: start;
          text-align: start;
          gap: 10px;

          img {
            width: 45px;
            border-radius: 50%;
          }

          .name {
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 4px;

            h1 {
              font-size: 15px;
              font-weight: 400;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .add-user .content {
    box-shadow: #11111a1a 0px 0px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;

    .head {
      width: 100%;
      height: 70px;
      background: $admin-tabhead;
      padding: 0 30px;
      border-radius: 0.5em 0.5em 0 0;

      h1 {
        line-height: 70px;
        font-weight: 500;
        font-size: 24px;
      }
    }

    .body {
      width: 100%;
      background: $view;
      padding: 30px 30px 50px 30px;
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      border-radius: 0 0 0.5em 0.5em;

      @media (max-width: 1300px) {
        .terminal label {
          width: 45% !important;
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        gap: 50px;

        .photo {
          width: auto !important;

          .submit {
            display: none !important;
          }
        }
        .terminal .submit {
          display: flex !important;
        }
      }

      .photo {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        .top {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;

          .muz {
            width: 150px;
            height: 100px;
            position: relative;

            .music {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              cursor: pointer;

              .dribble {
                width: 100%;
                height: 100%;
                border-radius: .5em;
                cursor: pointer;
                border: 3px;
                border-style: dotted;
                overflow: hidden;
                padding: 5px;
              }

              input {
                display: none;
              }
            }
          }

          .img {
            width: 80px;
            height: auto;
            position: relative;

            .image {
              width: 100%;
              height: 80px;
              border-radius: 50%;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                cursor: pointer;
              }

              input {
                display: none;
              }
            }

            .change {
              position: absolute;
              top: 56px;
              right: 2px;
              width: 22px;
              height: 22px;
              background: $main;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;

              &,
              svg,
              svg > path {
                cursor: pointer;
              }

              svg {
                padding: 1px 0 0 1px;
                color: #fff;
              }
            }

            h1 {
              font-weight: 400;
              font-size: 20px;
              text-align: center;
            }

          }
        }

        .submit {
          width: 100%;
          height: 45px;
          display: flex;
          justify-content: center;

          button[type="submit"] {
            height: 100%;
            padding: 0 50px;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            background: $main;
            color: #fff;
            transition: 0.2s;

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }

      .terminal {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;

        label {
          width: 47%;
          min-width: 180px;
          height: 50px;
          position: relative;

          @media (max-width: 760px) {
            width: 90% !important;
          }

          input {
            width: 100%;
            height: 100%;
            padding-left: 42px;
            border-radius: 8px;
            border: 1px solid $admin-inpbor;
            background: $admin-tabhead;
            color: $text;
            font-size: 15px;

            &::placeholder {
              color: $bate;
              padding-top: 1px;

              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          svg {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 14px;
            color: $bate;
            font-size: 16px;

            &,
            & > path {
              cursor: pointer;
            }

            &.faUser {
              font-size: 15px;
              left: 15px;
            }
          }

          .eye {
            left: auto;
            right: 14px;
          }
        }

        .country {
          border-radius: 8px;
          border: 1px solid $admin-inpbor;
          background: $admin-tabhead;

          ::-webkit-scrollbar {
            width: 0px;
          }

          .select {
            height: 100%;
            font-size: 13.333px;
            color: $bate;
            padding-left: 42px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            span {
              cursor: pointer;
              color: $bate;

              &.active {
                color: $text;
              }
            }
          }

          .content {
            transition: 0.2s;
            padding: 0px;
            height: 0px;
            margin-top: 5px;
            position: relative;
            z-index: 100;
            border-radius: 8px;
            visibility: hidden;
            overflow: hidden;

            border-radius: 8px;
            border: 1px solid $admin-inpbor;
            background: $admin-tabhead;

            &.active {
              transition: 0.2s;
              padding: 20px;
              height: auto;
              max-height: 348px;
              visibility: visible;
              overflow-y: auto;
            }

            ::-webkit-scrollbar {
              width: 5px;
            }
            ::-webkit-scrollbar-thumb {
              background: $text;
              border-radius: 25px;
            }
            ::-webkit-scrollbar-track {
              background-color: $admin-tabhead;
              border-radius: 25px;
            }

            .search {
              position: relative;

              svg {
                position: absolute;
                top: calc(50% - 7.5px);
                left: 13px;
                color: $bate;
                font-size: 17px;
              }

              input {
                width: 100%;
                height: 40px;
                padding-left: 40px;
                margin-bottom: 15px;

                border-radius: 8px;
                border: 1px solid $login-bor;
                background: $admin-tabhead;
                color: $text;

                &::placeholder {
                  color: $bate;
                  padding-top: 1px;

                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }

            #options {
              max-height: 250px;
              overflow: auto;

              li {
                height: 40px;
                border-radius: 5px;
                display: flex;
                cursor: pointer;
                align-items: center;
                font-size: 16px;
                padding: 0 12px;

                &:hover {
                  background: $main;
                }
              }
            }
          }
        }

        .gender,
        .role {
          border-radius: 8px;
          border: 1px solid $admin-inpbor;
          background: $admin-tabhead;
          position: relative;

          ::-webkit-scrollbar {
            width: 0px;
          }

          svg {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 14px;
            color: $bate;

            &,
            & > path {
              cursor: pointer;
            }
          }

          input {
            width: 100%;
            height: 100%;
            padding-left: 42px;
            border-radius: 8px;
            border: 1px solid $admin-inpbor;
            background: $admin-tabhead;
            color: $text;

            &::placeholder {
              color: $bate;
              padding-top: 1px;

              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .select,
          .selectRole {
            height: 100%;
            font-size: 13.333px;
            color: $bate;
            padding-left: 42px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            span {
              cursor: pointer;
              color: $bate;

              &.active {
                color: $text;
              }
            }
          }

          .content {
            transition: 0.2s;
            padding: 0px;
            height: 0px;
            margin-top: 5px;
            position: relative;
            z-index: 100;
            border-radius: 8px;
            visibility: hidden;
            overflow: hidden;

            border-radius: 8px;
            border: 1px solid $admin-inpbor;
            background: $admin-tabhead;

            &.active {
              padding: 10px;
              height: 100px;
              visibility: visible;
            }

            ::-webkit-scrollbar {
              width: 5px;
            }
            ::-webkit-scrollbar-thumb {
              background: $text;
              border-radius: 25px;
            }
            ::-webkit-scrollbar-track {
              background-color: $admin-tabhead;
              border-radius: 25px;
            }

            .search {
              position: relative;

              svg {
                position: absolute;
                top: calc(50% - 7.5px);
                left: 13px;
                color: $bate;
                font-size: 17px;
              }

              input {
                width: 100%;
                height: 40px;
                padding-left: 40px;
                margin-bottom: 15px;

                border-radius: 8px;
                border: 1px solid $admin-inpbor;
                background: $admin-tabhead;
                color: $text;

                &::placeholder {
                  color: $bate;
                  padding-top: 1px;

                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }

            #options {
              li {
                height: 40px;
                border-radius: 5px;
                display: flex;
                cursor: pointer;
                align-items: center;
                font-size: 16px;
                padding: 0 12px;
                position: relative;

                &:hover {
                  background: $main;
                }

                svg {
                  position: absolute;
                  transform: translateY(-50%);
                  top: 50%;
                  left: 3px;
                  color: $text;
                }

                span {
                  padding: 16px;
                }
              }
            }
          }
        }

        .submit {
          width: 100%;
          height: 45px;
          display: none;
          justify-content: center;

          button[type="submit"] {
            height: 100%;
            padding: 0 70px;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            background: $main;
            color: #fff;
            transition: 0.2s;

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .musics,
  .singers,
  .playlists,
  .albums {
    height: 100svh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .musics .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .top {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 170px;

      .userPart {
        padding: 20px;
        width: 33%;
        display: flex;

        &,
        img,
        .title,
        .title h1 {
          cursor: pointer;
        }

        img {
          height: 100%;
          border-radius: 0.5em;
          box-shadow: 0 0 5px -5px #000000;
        }

        .title {
          width: calc(100% - 130px);

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .table-wrapper {
      box-shadow: -0.5px -0.5px 0px $admin-shadbar, 1px 1px 5px -1px #00000026;
      border-radius: 0.5em;
      overflow: hidden;
    }

    .table-wrapper .table {
      width: 100% !important;
      font-size: 15px;
      text-align: center;

      .th:nth-child(2) {
        padding-left: 2px;
      }

      .th,
      .td {
        &:nth-child(1) {
          width: 3%;
        }
        &:nth-child(2) {
          width: 28%;
          text-align: start;
        }
        &:nth-child(3) {
          width: 24%;
          text-align: start;
        }
        &:nth-child(4) {
          width: 20%;
          text-align: start;
        }
        &:nth-child(5) {
          width: 15%;
          text-align: start;
        }
        &:nth-child(6) {
          width: 10%;
          text-align: end;

          span svg {
            animation: spin 2s linear infinite;

            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }

      .thead .tr {
        background: $admin-tabhead;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 20px 16px;
        gap: 16px;

        .th {
          font-weight: 500;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .tbody .tr {
        background: $view;
        display: flex;
        align-items: center;
        padding: 10px 16px;
        gap: 16px;

        &:hover {
          background: $admin-tabhead;
          opacity: background-color 50%;
        }

        .td:nth-child(2) {
          display: flex;
          align-items: start;
          text-align: start;
          gap: 10px;

          img {
            width: 45px;
            border-radius: 0.5em;
          }

          .name {
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 4px;

            h1 {
              font-size: 15px;
              font-weight: 400;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .singers .content .card-wrapper,
  .playlists .content .card-wrapper,
  .albums .content .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      width: 230px;
      height: 280px;
      background: $view;
      padding: 20px;
      position: relative;
      overflow: hidden;
      border-radius: 0 1em 1em 1em;

      span {
        position: absolute;
        top: -6px;
        left: -6px;
        background: $main;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        padding-left: 3px;
      }

      img {
        width: 100%;
        border-radius: 1em;
      }

      h1 {
        height: calc(100% - 210px);
        line-height: 57px;
        text-align: center;
        font-size: 20px;
      }
    }

    .loading {
      width: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }
}
