// $admin-main: #0f54f0;
// $admin-side: #ffffff;
// $admin-cont: #f9f8f9;
// $admin-text: #000000;
// $admin-gray: #727272;
// $admin-gold: #f3a522;
// $admin-butowe: #0f54f0;
// $admin-shadow: #6363631a;

#admin {
  display: flex;
  width: 100%;
  min-height: 100svh;
  display: flex;

  .sidebar {
    width: 240px;
    height: 100svh;
    background: $admin-side;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 1;
    position: fixed;

    .wrapper {
      width: 100%;
      height: calc(100% - 80px);

      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
          width: 40%;
          padding: 15px;
        }
      }

      .categories {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;

        a {
          color: #000;
          height: 44px;
          border-radius: 0.5em;
          line-height: 44px;
          padding-left: 12px;
          color: $admin-gray;

          display: flex;
          align-items: center;
          gap: 7px;

          &.active {
            background: $admin-main;
            color: #ffffff;
            transition: 0.15s;
          }

          svg {
            font-size: 17px;
            cursor: pointer;
          }

          span {
            cursor: pointer;
            font-size: 16px;
            padding-top: 2px;
          }
        }
      }

      .darkmode {
        background: $admin-cont;
        width: 100%;
        height: 44px;
        border-radius: 0.5em;
        margin-top: 10px;
        display: flex;
        padding: 5px;
        gap: 5px;
        cursor: pointer;
        box-shadow: inset rgba(99, 99, 99, 0.1) 0px 0px 4px;

        .sun,
        .moon {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 17px;
          border-radius: 0.35em;
          cursor: pointer;

          svg,
          svg > path {
            font-size: 18px;
            cursor: pointer;
          }

          span {
            cursor: pointer;
          }
        }
      }
    }

    .logout {
      width: 100%;
      height: 45px;
      background: $admin-main;
      border-radius: 0.5em;
      cursor: pointer;
    }
  }

  section {
    width: 100%;
    background: $admin-cont;
    padding: 30px 30px 30px 270px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .link {
      cursor: pointer;
      color: $admin-gray !important;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      height: 40px;

      .category {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 28px;
          color: $admin-butowe;
        }
        h2 {
          font-size: 28px;
          color: $admin-main;
        }
        h3 {
          font-size: 20px;
          color: $admin-gray;
        }
      }

      .others {
        display: flex;
        align-items: center;
        gap: 20px;

        .search {
          position: relative;

          input {
            padding: 0 36px 0 20px;
            width: 240px;
            height: 40px;
            border: none;
            border-radius: 2em;
            background: $admin-side;
            box-shadow: $admin-shadow 0px 2px 5px;
            color: $admin-text;
            font-size: 15px;

            &::placeholder {
              color: $admin-gray;
            }
          }

          svg {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 14px;
            color: $admin-gray;
            font-size: 17px;

            &,
            & > path {
              cursor: pointer;
            }
          }
        }

        .addUser button {
          background: $admin-main;
          border-radius: 2em;
          border: none;
          box-shadow: $admin-shadow 0px 2px 5px;
          color: #ffffff;
          padding: 0 25px;
          height: 39px;
          font-size: 15px;
        }

        .addUserProgress {
          display: flex;
          align-items: center;
          gap: 15px;

          .profile {
            display: flex;
            align-items: center;
            gap: 7px;
            color: $admin-line;

            .number {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              color: #fff;
              background: $admin-line;
              text-align: center;
              line-height: 25px;
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-weight: 600;
              font-size: 22px;
              padding-top: 2px;
            }
          }

          .line {
            width: 120px;
            height: 3px;
            background: $admin-line;
            border-radius: 10em;
          }

          .confirmation {
            display: flex;
            align-items: center;
            gap: 7px;
            color: $admin-line;

            .number {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              color: #fff;
              background: $admin-line;
              text-align: center;
              line-height: 25px;
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-weight: 600;
              font-size: 22px;
              padding-top: 2px;
            }
          }
        }
      }
    }
  }

  .part {
    box-shadow: $admin-shadow 0px 2px 5px;
    border-radius: 0.5em;
    background: $admin-side;
  }

  .dashboard .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .top {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 150px;
    }

    .mid {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 500px;
    }

    .down {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 250px;
    }

    .row {
      display: flex;
      gap: 25px;

      & > .part {
        width: 50%;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & > .part {
        height: 50%;
      }
    }

    .first-piece {
      width: 70%;
    }

    .last-piece {
      width: 30%;
    }
  }

  .users .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .top {
      display: flex;
      gap: 25px;
      width: 100%;
      height: 150px;

      .userPart {
        width: 25%;
      }
    }

    .table table {
      width: 100%;
      font-size: 15px;
      min-width: 350px;
      overflow: hidden;
      text-align: center;
      border-radius: 0.5em;
      border-collapse: collapse;
      box-shadow: $admin-shadow 0px 2px 5px;

      thead tr {
        background: $admin-tablehead;
        font-size: 18px;

        th:nth-child(1) {
          text-align: start;
        }

        th {
          padding: 18px 100px 18px 50px;
          font-weight: 500;
        }
      }

      tbody tr {
        background: $admin-side;

        td {
          padding: 12px 95px 12px 45px;
        }

        td:nth-child(1) {
          display: flex;
          align-items: start;
          text-align: start;
          gap: 10px;

          img {
            width: 45px;
            border-radius: 50%;
          }

          .name {
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 4px;

            h1 {
              font-size: 15px;
              font-weight: 400;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .add-user .content .card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: $admin-shadow 0px 1px 5px 1px;

    .head {
      width: 100%;
      height: 70px;
      background: $admin-userhead;
      padding: 0 30px;

      h1 {
        line-height: 70px;
        font-weight: 500;
        font-size: 24px;
      }
    }

    .body {
      width: 100%;
      background: $admin-side;
      padding: 30px 30px 50px 30px;
      display: flex;
      flex-direction: column;
      gap: 70px;

      .photo {
        display: flex;
        align-items: center;
        gap: 25px;

        .img {
          width: 80px;
          height: 80px;
          position: relative;

          .image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              cursor: pointer;
            }

            input {
              display: none;
            }
          }

          .change {
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 22px;
            height: 22px;
            background: $admin-main;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            &,
            svg,
            svg > path {
              cursor: pointer;
            }

            svg {
              padding: 1px 0 0 1px;
              color: #fff;
            }
          }
        }

        .title {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h1 {
            font-weight: 400;
            font-size: 20px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: #999;
          }
        }
      }

      .terminal {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .datas {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 30px;

          label {
            width: 30%;
            min-width: 200px;
            height: 50px;
            position: relative;

            input {
              width: 100%;
              height: 100%;
              padding-left: 46px;
              border-radius: 8px;
              border: 1px solid $admin-inpborder;
              background: $admin-userhead;
              color: $text;
              font-size: 15px;

              &::placeholder {
                color: $logtex;
                padding-top: 1px;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
              }
            }

            svg {
              transform: translateY(-50%);
              position: absolute;
              top: 50%;
              left: 18px;
              color: $text;
              color: $logtex;
              font-size: 16px;

              &,&>path{
                cursor: pointer;
              }
            }
          }
        }

        .submit {
          width: 100%;
          height: 45px;
          display: flex;
          justify-content: end;
          padding-right: 1px;

          button {
            height: 100%;
            padding: 0 70px;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            background: $admin-main;
            color: #fff;
            transition: .2s;

            &:disabled{
              opacity: .5;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
