@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #582ddd;
  --main-click-color: #6940ee;
  --text-color: #f3f3f3;
  --medium-color: #f3f3f3a3;

  --background-color: #080b0f;
  --medium-back-color: #080b0fa3;
  --slow-back-color: #080b0fbb;
  --background-card: #0a0d12;
  --viewer-color: #0c1016;
  --analog-color: #0e1520;
  --hover-color: #141e30;
}

[data-theme='light']:root {
  --main-color: #582ddd;
  --main-click-color: #6940ee;
  --text-color: #080b0f;
  --medium-color: #080b0fa3;

  --background-color: #ffffff;
  --medium-back-color: #ffffffa3;
  --slow-back-color: #ffffff50;
  --background-card: #f9f9f9;
  --viewer-color: #f3f3f3;
  --analog-color: #e5e4e7;
  --hover-color: #dddae2;
}

// // HERO PAGE ----------
// $hero - click: #6940ee;
// $hero - header: #222222;
// $hero - toggle: #222222;
// // LOGIN PAGE ----------
// $login - base: #24242a;
// $login - prov: #222222;
// $login - bor: #333333;
// $login - inp: #171717;
// // ADMIN PAGE ----------
// $admin - tabhead: #121822;
// $admin - inpbor: #282729;
// $admin - butowe: #ffffff;
// $admin - line: #3b393d;
// $admin - shadbar: #00000026;

// ===== FONT FACE ===== \\
@font-face {
  font-family: Santello;
  src: url("./fonts/Santello/Santello.ttf");
}
@font-face {
  font-family: BelfastGrotesk300;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk300.ttf");
}
@font-face {
  font-family: BelfastGrotesk400;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk400.ttf");
}
@font-face {
  font-family: BelfastGrotesk500;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk500.ttf");
}
@font-face {
  font-family: BelfastGrotesk600;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk600.ttf");
}
@font-face {
  font-family: BelfastGrotesk700;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk700.ttf");
}
@font-face {
  font-family: BelfastGrotesk800;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk800.ttf");
}
@font-face {
  font-family: BelfastGrotesk900;
  src: url("./fonts/BelfastGrotesk/BelfastGrotesk900.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

a,
input,
button,
textarea {
  outline: none;
  cursor: pointer;
  font-family: Santello;
  text-decoration: none;
}

::selection {
  background: rgba($color: #6940ee, $alpha: 0.15);
}
::-webkit-scrollbar {
  all: unset;
  width: 0;
  height: 0;
}

body {
  font-family: Santello, sans-serif;
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#__next {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}
