#login,
#register {
  background: $back;
  color: $text;
  overflow: hidden;
  display: flex;
  height: 100svh;

  .formes {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: flex;
      flex-direction: column;

      h1 {
        color: $bate;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: center;
      }

      p {
        color: $bate;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 40px;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
          width: 100%;
          display: flex;
          gap: 18px;

          .firstName,
          .lastName {
            width: 50%;
            height: 44px;
            position: relative;

            svg {
              transform: translateY(-50%);
              position: absolute;
              top: 50%;
              left: 14px;
              color: $bate;

              &,
              & > path {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              height: 100%;
              padding-left: 42px;
              border-radius: 8px;
              border: 1px solid $login-bor;
              background: $login-inp;
              color: $text;

              &::placeholder {
                color: $bate;
                padding-top: 1px;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }
        }

        .outher {
          width: 100%;
          display: flex;
          gap: 18px;

          .birthday,
          .gender {
            height: 44px;
            position: relative;

            svg {
              transform: translateY(-50%);
              position: absolute;
              top: 50%;
              left: 14px;
              color: $bate;

              &,
              & > path {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              height: 100%;
              padding-left: 42px;
              border-radius: 8px;
              border: 1px solid $login-bor;
              background: $login-inp;
              color: $text;

              &::placeholder {
                color: $bate;
                padding-top: 1px;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }

          .birthday {
            width: 60%;

            input {
              width: 100%;
              height: 100%;
              padding-left: 42px;
              border-radius: 8px;
              border: 1px solid $login-bor;
              background: $login-inp;
              color: $text;
              font-size: 15px;

              &:focus {
                outline: 0;
              }

              &.error {
                border-color: #ff0000;
              }

              &::placeholder {
                color: $bate;
                padding-top: 1px;

                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }

          .gender {
            width: 40%;
            height: 44px;
            border-radius: 8px;
            border: 1px solid $login-bor;
            background: $login-inp;

            ::-webkit-scrollbar {
              width: 0px;
            }

            .select {
              height: 100%;
              font-size: 13.333px;
              color: $bate;
              padding-left: 42px;

              display: flex;
              align-items: center;
              justify-content: space-between;

              cursor: pointer;

              span {
                cursor: pointer;
                color: $bate;

                &.active {
                  color: $text;
                }
              }
            }

            .content {
              transition: 0.2s;
              padding: 0px;
              height: 0px;
              margin-top: 5px;
              position: relative;
              z-index: 100;
              border-radius: 8px;
              visibility: hidden;
              overflow: hidden;

              border-radius: 8px;
              border: 1px solid $login-bor;
              background: $login-inp;

              &.active {
                padding: 10px;
                height: 100px;
                visibility: visible;
              }

              ::-webkit-scrollbar {
                width: 5px;
              }
              ::-webkit-scrollbar-thumb {
                background: $text;
                border-radius: 25px;
              }
              ::-webkit-scrollbar-track {
                background-color: $login-inp;
                border-radius: 25px;
              }

              .search {
                position: relative;

                svg {
                  position: absolute;
                  top: calc(50% - 7.5px);
                  left: 13px;
                  color: $bate;
                  font-size: 17px;
                }

                input {
                  width: 100%;
                  height: 40px;
                  padding-left: 40px;
                  margin-bottom: 15px;

                  border-radius: 8px;
                  border: 1px solid $login-bor;
                  background: $login-inp;
                  color: $text;

                  &::placeholder {
                    color: $bate;
                    padding-top: 1px;

                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                  }
                }
              }

              #options {
                li {
                  height: 40px;
                  border-radius: 5px;
                  display: flex;
                  cursor: pointer;
                  align-items: center;
                  font-size: 16px;
                  padding: 0 12px;
                  position: relative;

                  &:hover {
                    background: $main;
                  }

                  svg {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 3px;
                    color: $text;
                  }

                  span {
                    padding: 16px;
                  }
                }
              }
            }
          }
        }

        .country {
          width: 100%;
          height: 44px;
          border-radius: 8px;
          border: 1px solid $login-bor;
          background: $login-inp;

          ::-webkit-scrollbar {
            width: 0px;
          }

          .select {
            height: 100%;
            font-size: 13.333px;
            color: $bate;
            padding-left: 42px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            span {
              cursor: pointer;
              color: $bate;

              &.active {
                color: $text;
              }
            }
          }

          .content {
            transition: 0.2s;
            padding: 0px;
            height: 0px;
            margin-top: 5px;
            position: relative;
            z-index: 100;
            border-radius: 8px;
            visibility: hidden;
            overflow: hidden;

            border-radius: 8px;
            border: 1px solid $login-bor;
            background: $login-inp;

            &.active {
              transition: 0.2s;
              padding: 20px;
              height: auto;
              max-height: 348px;
              visibility: visible;
              overflow-y: auto;
            }

            ::-webkit-scrollbar {
              width: 5px;
            }
            ::-webkit-scrollbar-thumb {
              background: $text;
              border-radius: 25px;
            }
            ::-webkit-scrollbar-track {
              background-color: $login-inp;
              border-radius: 25px;
            }

            .search {
              position: relative;

              svg {
                position: absolute;
                top: calc(50% - 7.5px);
                left: 13px;
                color: $bate;
                font-size: 17px;
              }

              input {
                width: 100%;
                height: 40px;
                padding-left: 40px;
                margin-bottom: 15px;

                border-radius: 8px;
                border: 1px solid $login-bor;
                background: $login-inp;
                color: $text;

                &::placeholder {
                  color: $bate;
                  padding-top: 1px;

                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }

            #options {
              max-height: 250px;
              overflow: auto;

              li {
                height: 40px;
                border-radius: 5px;
                display: flex;
                cursor: pointer;
                align-items: center;
                font-size: 16px;
                padding: 0 12px;

                &:hover {
                  background: $main;
                }
              }
            }
          }
        }

        .country,
        .email,
        .password,
        .confirmPassword {
          width: 100%;
          height: 44px;
          position: relative;

          svg {
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 14px;
            color: $bate;

            &,
            & > path {
              cursor: pointer;
            }
          }

          .eye {
            left: auto;
            right: 14px;
          }

          input {
            width: 100%;
            height: 100%;
            padding-left: 42px;
            border-radius: 8px;
            border: 1px solid $login-bor;
            background: $login-inp;
            color: $text;

            &::placeholder {
              color: $bate;
              padding-top: 1px;

              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }

        ::selection {
          background: transparent;
        }

        .remember {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 20px;
          cursor: pointer;

          @import "../assets/checkbox";

          .checkbox .rememberme {
            color: $bate;
            cursor: pointer;

            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            padding-top: 1px;
          }

          a {
            color: $main;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
        }

        button[type="submit"] {
          height: 44px;
          border: none;
          border-radius: 8px;
          background: $main;
          color: $back;

          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }

    .lines {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 16px 0;

      .line-start {
        width: 45%;
        height: 1px;
        background: $login-base;
        border-radius: 50% 0 0 50%;
      }

      span {
        color: $login-base;
      }

      .line-end {
        width: 45%;
        height: 1px;
        background: $login-base;
        border-radius: 0 50% 50% 0;
      }
    }

    .providers {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 44px;

        color: $bate;
        border-radius: 8px;
        border: 1px solid $login-bor;
        background: $login-prov;
        cursor: pointer;

        svg,
        svg > path {
          cursor: pointer;
        }

        span {
          color: $bate;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          padding-top: 2px;
          cursor: pointer;

          &:first-of-type {
            padding-left: 4px;
          }

          &:last-of-type {
            padding-top: 2px;
            padding-right: 1px;
          }
        }
      }
    }

    .replacement {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;

      span {
        color: $bate;
        font-weight: 400;
      }

      a {
        color: $main;
        font-weight: 500;
      }
    }
  }

  .images {
    width: 50%;
    height: 100%;
    border-radius: 40px;
    background: $login-base;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      position: absolute;
      bottom: -345px;
      left: 25px;

      h1 {
        height: 40px;
        font-size: 30px;
        color: $back;
        padding-top: 1px;
        cursor: pointer;
      }
    }
  }
}

#login {
  padding: 32px 32px 32px 0;
  gap: 32px;

  .formes .wrapper {
    width: 360px;
  }
}

#register {
  padding: 32px 0 32px 32px;
  gap: 28px;

  .formes .wrapper {
    width: 400px;
  }
}

@import "./media";
