main#home-follow {
  .content {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column: auto;
    min-width: 360px;

    .card {
      width: 100%;
      max-width: 180px;
      min-width: 150px;
      min-height: 225px;
      -webkit-box-flex: 1;
      background: var(--viewer-color);
      isolation: isolate;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        width: 50%;
        height: 180%;
        transform: rotate(45deg);
        background: var(--hover-color);
        box-shadow: 0 0 12px var(--hover-color);
      }

      @keyframes animate {
        from {
          transform: rotate(40deg);
        }
        to {
          transform: rotate(400deg);
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 92%;
        height: 94%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 4px;
        background: var(--viewer-color);
      }

      &:hover {
        .images > .play {
          visibility: visible;
          transform: translateY(0);
          opacity: 1;
        }

        &:before {
          animation: animate 2s linear infinite;
        }
      }

      &.active {
        .images > .pouse {
          z-index: 4;
          visibility: visible;
          transform: translateY(0);
          opacity: 1;
        }
        &:hover {
          .images > .play {
            visibility: hidden;
            transform: translateY(10px);
            opacity: 0;
          }
        }
        &:before {
          animation: animate 2s linear infinite;
        }
      }

      .images {
        width: 100%;
        min-height: 139px;
        position: relative;
        margin-bottom: 16px;
        cursor: pointer;

        .unblur {
          animation: unblur 0.3s linear;
        }

        @keyframes unblur {
          from {
            filter: blur(10px);
          }
          to {
            filter: blur(0);
          }
        }

        .play {
          width: 44px;
          position: absolute;
          z-index: 4;
          right: 6px;
          bottom: 10px;

          transition: 0.3s;
          visibility: hidden;
          transform: translateY(10px);
          opacity: 0;

          &,
          & > path,
          & > rect,
          & > circle {
            cursor: pointer;
          }
        }

        .pouse {
          width: 44px;
          position: absolute;
          z-index: 3;
          right: 6px;
          bottom: 10px;

          transition: 0.3s;
          visibility: hidden;
          transform: translateY(10px);
          opacity: 0;

          &,
          & > path,
          & > rect,
          & > circle {
            cursor: pointer;
          }
        }

        .image {
          position: sticky;
          z-index: 2;
          width: 100%;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          filter: blur(10px);

          &.unblur {
            filter: blur(0px);
          }
        }
      }

      .title {
        width: 100%;
        position: sticky;
        z-index: 2;

        &,
        h2,
        h3,
        p,
        span {
          cursor: pointer;
        }

        h3:hover,
        span:hover {
          text-decoration: underline;
        }

        h3 {
          font-size: 16px;
          text-wrap: nowrap;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-bottom: 4px;
          overflow: hidden;
          color: var(--text-color);
        }
        p {
          font-size: 12px;
          color: var(--medium-color);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
