$main: #582ddd;
$text: #f3f3f3;
$back: #080b0f;
$hero-click: #6940ee;

main#home-user {
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 20px;

    &.active {
      transform: translateY(-24px);
      height: 100px;
    }

    .user-image {
      border-radius: 50%;
      border: 10px solid $back;
      filter: blur(10px);

      &.unblur {
        filter: blur(0);
      }
    }

    .unblur {
      animation: unblur 0.3s linear;
    }
    
    @keyframes unblur {
      from {
        filter: blur(10px);
      }
      to {
        filter: blur(0);
      }
    }

    .content {
      .name {
        font-size: 36px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.5px;
      }

      .username {
        color: #aaaaaa;
        display: flex;
        gap: 5px;
        align-items: center;

        span {
          max-width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .verify {
          height: 15px;
          position: relative;
          width: 15px;

          svg {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .secret {
      margin-left: 40px;
      overflow: hidden;

      h1 {
        white-space: nowrap;
      }
    }
  }

  .panel {
    width: 100%;
    height: 60px;
    margin-bottom: 24px;
  }

  .popular {
    .title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
      padding-left: 3px;
      margin-bottom: 12px;
    }

    .list {
      width: 100%;

      li {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 8px 0;
        transition: 0.2s;

        &.active {
          background: $analog !important;

          span.in {
            display: none !important;
          }
          .icon {
            display: none !important;
          }
          .wave {
            display: flex !important;
          }
        }

        &:hover {
          background: $view;

          .index {
            span.in {
              display: none !important;
            }
            .icon {
              display: block !important;
            }
            .wave {
              display: none !important;
            }
          }
        }

        &.selected {
          background: $view;
        }

        .index {
          width: 48px;
          display: flex;
          align-items: center;
          justify-content: center;

          span.in {
            color: $bate;
          }

          .icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            position: relative;

            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .wave {
            display: none;
            justify-content: space-between;
            width: 20px;
            height: 25px;

            .wavel {
              height: 100%;
              width: 2px;
              border-radius: 1rem;
              transform: scaleY(0.4);
              background-color: $main;
              animation-duration: 1.2s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;

              &:nth-child(1) {
                animation-name: quiet;
              }

              &:nth-child(2) {
                animation-name: normal;
              }

              &:nth-child(3) {
                animation-name: quiet;
              }

              &:nth-child(4) {
                animation-name: loud;
              }

              &:nth-child(5) {
                animation-name: quiet;
              }

              @keyframes quiet {
                25% {
                  transform: scaleY(0.6);
                }

                50% {
                  transform: scaleY(0.4);
                }

                75% {
                  transform: scaleY(0.8);
                }
              }

              @keyframes normal {
                25% {
                  transform: scaleY(1);
                }

                50% {
                  transform: scaleY(0.4);
                }

                75% {
                  transform: scaleY(0.6);
                }
              }

              @keyframes loud {
                25% {
                  transform: scaleY(1);
                }

                50% {
                  transform: scaleY(0.4);
                }

                75% {
                  transform: scaleY(1.2);
                }
              }
            }
          }
        }

        .another {
          width: calc(100% - 48px);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .music {
            width: 300px;
            display: flex;
            align-items: center;

            .image {
              img {
                width: 48px;
                height: 48px;
                height: 100%;
                border-radius: 6px;
              }
            }

            .music-title {
              margin-left: 12px;

              p {
                font-size: 14px;
                color: $bate;
              }
            }
          }

          .listen {
            width: 100px;
            text-align: end;

            p {
              color: $bate;
            }
          }

          .duration {
            width: 80px;
            padding: 0 20px;
            text-align: end;

            p {
              color: $bate;
            }
          }
        }
      }
    }
  }
}
