main#home-support {

    .no {
        width: 100%;
        height: calc(100vh - 440px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h2 {
          text-transform: none;
          line-height: normal;
          -webkit-font-smoothing: antialiased;
          text-align: center;
          box-sizing: border-box;
          border: 0;
          margin: 0;
          padding: 0;
          vertical-align: baseline;
          font-size: 24px;
          margin-block: 0px;
          color: inherit;
          overflow-wrap: break-word;

          a{
            text-decoration: underline;
            color: var(--main-click-color);
            font-weight: 600;
          }
        }
    
        p {
          font-size: 16px;
          color: var(--medium-color);
    
          text-transform: none;
          line-height: normal;
          -webkit-font-smoothing: antialiased;
    
          text-align: center;
          box-sizing: border-box;
          border: 0;
          margin: 0;
          vertical-align: baseline;
          padding: 10px 0 30px;
        }
      }
    }